<h2>Add a question to the quiz!</h2>

<div>
	<form>
		Question: <input type="text" name="Question"><br>
		<input type="radio" name="answer" value="true">True<br>
		<input type="radio" name="answer" value="false">False<br>
		<input type="submit" value="Submit">
	</form>
</div>